*.blend1
*.blend2
*.mov
*L_L*

.DS_Store
Larry/Library/AssetImportState
Larry/Library/AssetServerCacheV3
Larry/Library/FailedAssetImports.txt
Larry/Library/ScriptAssemblies
Larry/Library/ScriptMapper
Larry/Library/assetDatabase3
Larry/Library/cache
Larry/Library/expandedItems
Larry/Library/metadata
Larry/Library/previews
Larry/Library/guidmapper
Larry/Temp
*.csproj
*.pidb
*.sln
